<div *ngIf="configuration" class="table-responsive" style="overflow: visible">
    <table class="table borderless-first-row">
        <tr>
            <th *ngFor="let column of configuration.columns" (click)="headerClick(column)">{{column.headerText}}<span *ngIf="column.property == configuration.sortProperty" class="caret" [ngClass]="{'caret-reversed': sortDirection == -1}"></span>
            </th>
        </tr>
        <tr *ngFor="let row of data" (click)="rowClick(row, $event);" class="row-interactive">
            <td *ngFor="let column of configuration.columns" [ngSwitch]="column.command">
                <span *ngSwitchCase="''">{{row[column.property]}}</span>
                <a *ngSwitchDefault href="" (click)="commandClick(row, column.command, $event);$event.stopPropagation();">{{row[column.property]}}</a>
            </td>
        </tr>
    </table>
</div>