<div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="l.dashboard.html">Dashboard</a></li>
                <li><a href="l.portfolio.html">My Portfolio</a></li>
                <li><a href="l.licenses.index.html">View Licenses</a></li>
                <li><span>EL442</span></li>
            </ul>
        </div>

        <div class="page-title-dropdown">
            <h1 class="page-title">EL442</h1>

            <a href="#" class="title-icon title-icon-print m-l-1"></a>
        </div>

        <div class="card">
            <h3 class="card-header hidden-print">EL442</h3>

            <div class="card-body">
                <div class="tabs">
                    <div class="tabs-menu hidden-print okayNav loaded">
                        <ul class="nav nav-tabs okayNav__nav--visible" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#overview" aria-controls="home" role="tab" data-toggle="tab">Overview</a>
                            </li>
                            <li role="presentation">
                                <a href="#map" aria-controls="profile" role="tab" data-toggle="tab">Map &amp; Coordinates</a>
                            </li>
                            <li role="presentation">
                                <a href="#tasks" aria-controls="settings" role="tab" data-toggle="tab">Tasks</a>
                            </li>
                            <li role="presentation">
                                <a href="#payments" aria-controls="messages" role="tab" data-toggle="tab">Make payments</a> <span class="badge badge-warning">1</span>
                            </li>
                            <li role="presentation">
                                <a href="#reports" aria-controls="settings" role="tab" data-toggle="tab">Submit reports</a> <span class="badge badge-danger">2</span>
                            </li>
                            <li role="presentation">
                                <a href="#history" aria-controls="settings" role="tab" data-toggle="tab">History</a>
                            </li>
                            <li role="presentation">
                                <a href="#downloads" aria-controls="settings" role="tab" data-toggle="tab">Downloads</a>
                            </li>
                            <li role="presentation">
                                <a href="#comments" aria-controls="settings" role="tab" data-toggle="tab">Comments</a>
                            </li>
                        </ul>
                    <ul class="okayNav__nav--invisible transition-enabled nav-right"></ul><a href="#" class="okayNav__menu-toggle okay-invisible"><span></span><span></span><span></span></a></div>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="overview">
                            <h3 class="visible-print-block">Overview</h3>
                            <div>
                                <dl class="dl-horizontal m-b-1">
                                    <dt>Code</dt>
                                    <dd>EL442</dd>

                                    <dt>Name</dt>
                                    <dd>Myakuja A</dd>

                                    <dt>Type</dt>
                                    <dd>Exploration License</dd>

                                    <dt>Status</dt>
                                    <dd>Active</dd>

                                    <dt>Owner</dt>
                                    <dd>Peter Janali Mutie</dd>
                                </dl>

                                <dl class="dl-horizontal m-b-1">
                                    <dt>Application date</dt>
                                    <dd>09/05/1995 at 15:37:03</dd>

                                    <dt>Granted date</dt>
                                    <dd>06/06/1996 at 12:00:00</dd>

                                    <dt>Expiry date</dt>
                                    <dd>27/04/2016 at 12:00:00</dd>
                                </dl>

                                <dl class="dl-horizontal m-b-1">
                                    <dt>Commodities</dt>
                                    <dd>Gemstones except diamond</dd>

                                    <dt>Location</dt>
                                    <dd>Kenya, Taita / Taveta</dd>

                                    <dt>Official area</dt>
                                    <dd>0.5000km<sup>2</sup></dd>
                                </dl>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade tab-map" id="map">
                            <h3 class="visible-print-block">Map &amp; Coordinates</h3>
                            <div class="map-wrap">
                                <img src="img/maps/asset-single.png" alt="" width="1140" height="455" class="img-responsive">

                                <div class="card card-modal">
                                    <div class="card-header">COORDINATES (GCS_WGS84)</div>
                                    <div class="card-body">
                                        <div class="detail-columns m-t-2">
                                            <div class="row detail-columns-header">
                                                <div class="col-xs-6"><h4 class="minor-title">Latitude</h4></div>
                                                <div class="col-xs-6"><h4 class="minor-title">Longitude</h4></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">01°34’49.32”N</div>
                                                <div class="col-xs-6">35°22’55.60”E</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">01°34’53.07”N</div>
                                                <div class="col-xs-6">35°22’50.08”E</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">01°35’44.12”N</div>
                                                <div class="col-xs-6">35°23’51.93”E</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">01°35’40.31”N</div>
                                                <div class="col-xs-6">35°23’57.07”E</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">01°34’49.32”N</div>
                                                <div class="col-xs-6">35°22’55.60”E</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">01°34’53.07”N</div>
                                                <div class="col-xs-6">35°22’50.08”E</div>
                                            </div>
                                        </div>

                                        <a class="card-single-action m-t-2 text-capitalize" href="#">EXPORT THESE COORDINATES</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tasks">
                            <h3 class="visible-print-block">Tasks</h3>
                            <h4 class="minor-title">Available Actions</h4>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    <ul class="actions-list">
                                        <li><a href="#">Submit Renewal</a> (Due 08/05/2016)</li>
                                        <li><a href="#">Apply for Transfer</a></li>
                                        <li><a href="#">Apply for Reduction</a></li>
                                        <li><a href="#">Surrender License</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="payments">
                            <h3 class="visible-print-block">Make payments <span class="badge badge-warning">1</span></h3>
                            <div class="zero-items">
                                <h3>There are no payments to make</h3>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="reports">
                            <h3 class="visible-print-block">Submit reports <span class="badge badge-danger">2</span></h3>
                            <div class="table-responsive" style="overflow: visible;">
                                <table class="table borderless-first-row">
                                    <thead>
                                        <tr>
                                            <th style="width: 240px;">Report due for submission</th>
                                            <th style="width: 100px;">Status</th>
                                            <th style="width: 100px;">Due Date</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                                                                    <tr>
                                                <td class="highlight"><strong>Quarterly Report</strong></td>
                                                <td><span class="status-circle status-circle-red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Report overdue"></span></td>
                                                <td>04/11/2016</td>
                                                <td class="text-right"><a class="text-underline" href="#"><strong>Upload</strong></a></td>
                                            </tr>
                                                                                    <tr>
                                                <td class="highlight"><strong>Quarterly Report</strong></td>
                                                <td><span class="status-circle status-circle-red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Report overdue"></span></td>
                                                <td>04/11/2016</td>
                                                <td class="text-right"><a class="text-underline" href="#"><strong>Upload</strong></a></td>
                                            </tr>
                                                                            </tbody>
                                </table>
                            </div>

                            <div class="table-responsive" style="overflow: visible;">
                                <table class="table borderless-first-row">
                                    <thead>
                                        <tr>
                                            <th style="width: 240px;">Upcoming submission</th>
                                            <th style="width: 100px;">Status</th>
                                            <th style="width: 100px;">Due Date</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                                                                    <tr>
                                                <td class="highlight"><strong>Quarterly Report</strong></td>
                                                <td><span class="status-circle status-circle-green" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upcoming submission"></span></td>
                                                <td>04/11/2016</td>
                                                <td class="text-right"><a class="text-underline" href="#"><strong>Upload</strong></a></td>
                                            </tr>
                                                                            </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="history">
                            <h3 class="visible-print-block">History</h3>
                            <div class="table-responsive" style="overflow: visible;">
                                <table class="table borderless-first-row">
                                    <thead>
                                        <tr>
                                            <th style="width: 400px;">Report due for submission</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="highlight"><strong>License granted</strong></td>
                                            <td>05/08/2016</td>
                                        </tr>
                                        <tr>
                                            <td class="highlight"><strong>Application fee paid (Kenyan Shiling 50000.00)</strong></td>
                                            <td>04/11/2016</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="downloads">
                            <h3 class="visible-print-block">Downloads</h3>
                            <div class="table-responsive" style="overflow: visible;">
                                <table class="table borderless-first-row">
                                    <thead>
                                        <tr>
                                            <th style="width: 240px;">Document title</th>
                                            <th style="width: 150px;">Upload date</th>
                                            <th style="width: 100px;">File size</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                                                                    <tr>
                                                <td class="highlight">Report title</td>
                                                <td>04/11/2016</td>
                                                <td>320KB</td>
                                                <td class="text-right"><a class="text-underline" href="#"><strong>Download</strong></a></td>
                                            </tr>
                                                                                    <tr>
                                                <td class="highlight">Report title</td>
                                                <td>04/11/2016</td>
                                                <td>148KB</td>
                                                <td class="text-right"><a class="text-underline" href="#"><strong>Download</strong></a></td>
                                            </tr>
                                                                                    <tr>
                                                <td class="highlight">Report title</td>
                                                <td>04/11/2016</td>
                                                <td>271KB</td>
                                                <td class="text-right"><a class="text-underline" href="#"><strong>Download</strong></a></td>
                                            </tr>
                                                                                    <tr>
                                                <td class="highlight">Report title</td>
                                                <td>04/11/2016</td>
                                                <td>366KB</td>
                                                <td class="text-right"><a class="text-underline" href="#"><strong>Download</strong></a></td>
                                            </tr>
                                                                                    <tr>
                                                <td class="highlight">Report title</td>
                                                <td>04/11/2016</td>
                                                <td>117KB</td>
                                                <td class="text-right"><a class="text-underline" href="#"><strong>Download</strong></a></td>
                                            </tr>
                                                                            </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="comments">
                            <h3 class="visible-print-block">Comments</h3>
                            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
                            <p class="content">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>