
<div class="row">
            <div class="col-md-6 col-xs-12 p-r-2">
                <div class="search-group">
                    <div class="dropdown dropdown-scale">
                        <a (click)='viewDropdown()' class="btn btn-secondary">Filter</a>
                        <div class="dropdown-menu dropdown-menu-white">
                            <app-filterdropdown></app-filterdropdown>
                        </div>
                    </div>
                    
                    <div class="search-input">
                        <app-filterbox (update)="onFilterTextChange($event.value)"></app-filterbox>
                        <!--<input #input type="text" class="form-control" placeholder="Search licenses" (input)="update.emit(input.value)">*/-->
                        <button type="submit" class="nofocus"></button>
                        <button type="button" class="nofocus"></button>
                    </div>

                    <div class="filters m-t-1">
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                    </div>
                </div>

<!--<filterbox (update)="term = $event"></filterbox>

<h2> Licenses </h2>
<div>{{title}}</div>

<p>
<input type='text' ng-model="applyfilter">
</p>


<ul>
    <li *ngFor="#license of licenses"> 
        {{ license }}
    </li>
</ul>


 | filter:applyfilter"-->