
<div class="row">
            <div class="col-md-6 col-xs-12 p-r-2">
                <div class="search-group">
                    <div class="dropdown dropdown-scale">
                        <a href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" class="btn btn-secondary" data-toggle="dropdown">Filter</a>

                        <div class="dropdown-menu dropdown-menu-white">
                            <h3>Show all licenses where</h3>
                            <div class="form-group">
                                <select name="" class="form-control">
                                    <option value="">Select filter</option>
                                    <option value="active">Status</option>
                                    <option value="active">Type</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="" class="form-control">
                                    <option value="">Select a value</option>
                                    <option value="active">Active</option>
                                    <option value="active">Inactive</option>
                                </select>
                            </div>
                            <button class="btn btn-success btn-lg m-t-1">Add filter</button>
                        </div>
                    </div>

                    <div class="search-input">
                        <app-filterbox (update)="onFilterTextChange($event.value)"></app-filterbox>
                        <!--<input #input type="text" class="form-control" placeholder="Search licenses" (input)="update.emit(input.value)">*/-->
                        <button type="submit" class="nofocus"></button>
                        <button type="button" class="nofocus"></button>
                    </div>

                    <div class="filters m-t-1">
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                        <div class="label label-default">Default <a class="close" href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.index.html#" data-dismiss="label"></a></div>
                    </div>
                </div>

<!--<filterbox (update)="term = $event"></filterbox>

<h2> Licenses </h2>
<div>{{title}}</div>

<p>
<input type='text' ng-model="applyfilter">
</p>


<ul>
    <li *ngFor="#license of licenses"> 
        {{ license }}
    </li>
</ul>


 | filter:applyfilter"-->