<div class="sub-nav add-padding-on-modal-open">
  <div class="container">
    <ul class="sub-nav-menu">
      <li class="dropdown active">
        <a href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.single.html#" data-toggle="dropdown">My Portfolio</a>

        <ul class="dropdown-menu dropdown-menu-red">
          <li><a routerLink="/assetPortfolio" routerLinkActive="active">View Licenses</a></li>
          <li><a href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.applications.index.html">View Applications</a></li>
          <li><a href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.applications.create.html">Make An Application</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.single.html#" data-toggle="dropdown">My Geodata</a>

        <ul class="dropdown-menu dropdown-menu-red">
          <li><a href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.geodata.index.html">View my Geodata</a></li>
          <li><a href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/public.catalogue.geodata.html">View catalogue</a></li>
          <li><a href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.single.html#">View catalogue on map</a></li>
        </ul>
      </li>



      <li class="dropdown">
        <a href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.licenses.single.html#" data-toggle="dropdown">My Payments &amp; History</a>

        <ul class="dropdown-menu dropdown-menu-red">
          <li><a href="http://flexi-portal.s3-website-eu-west-1.amazonaws.com/l.payments.history.html">View payment history</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>