<div class="add-padding-on-modal-open">
  <div class="container p-t-2-5">
    <div class="row">
      <div class="col-md-4 col-xs-12 hidden-xs">
        <a class="card dash-action dash-action-geodata" href="#">
          <img src="img/dashboard/dash-action-geodata.svg" alt="" height="60" width="60"> Find more Geodata to purchase
        </a>
      </div>
      <div class="col-md-4 col-xs-12 hidden-xs">
        <a class="card dash-action dash-action-geodata" href="#">
          <img src="img/dashboard/dash-action-application.svg" alt="" height="60" width="60"> Perform a new license application
        </a>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="dropdown dash-action-stacked">
          <a class="card dash-action dash-action-geodata" data-toggle="dropdown" href="#">
            <img src="img/dashboard/dash-action-common.svg" alt="" height="60" width="60"> Perform a common action
          </a>

          <div class="dropdown-menu dropdown-menu-white dropdown-dash-action">
            <h3>Select your common task</h3>

            <ul>
              <li class="visible-xs-block"><a href="#">Find more Geodata to purchase</a></li>
              <li class="visible-xs-block"><a href="#">Perform a new license application</a></li>
              <li><a href="l.common.renew-license.html">Renew a license</a></li>
              <li><a href="l.common.surrender.html">Surrender a license</a></li>
              <li><a href="l.common.transfer.html">Transfer a license</a></li>
              <li><a href="l.common.reduce.html">Reduce a license</a></li>
              <li><a href="l.common.withdraw.html">Withdraw an application</a></li>
              <li><a href="l.common.grant.html">Grant a license</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="card widget">
          <div class="card-body">
            <h3 class="widget-title"><img src="img/icon/licenses-dots.svg" alt="" height="15" width="21"> <a href="l.licenses.index.html">Your licenses</a></h3>

            <div class="table-responsive">
              <table class="table borderless-first-row">
                <thead>
                  <tr>
                    <th>Code</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Expiry Date</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td><a href="l.licenses.single.html">EL251</a></td>
                    <td class="highlight">Active</td>
                    <td>EL</td>
                    <td>4/27/2014 12:00:00 AM</td>
                  </tr>
                  <tr>
                    <td><a href="l.licenses.single.html">SPL/2015/0034</a></td>
                    <td class="highlight">Active</td>
                    <td>EL</td>
                    <td>4/27/2014 12:00:00 AM</td>
                  </tr>
                  <tr>
                    <td><a href="l.licenses.single.html">EL251</a></td>
                    <td class="highlight">Active</td>
                    <td>EL</td>
                    <td>4/27/2014 12:00:00 AM</td>
                  </tr>
                  <tr>
                    <td><a href="l.licenses.single.html">SPL/2015/0034</a></td>
                    <td class="highlight">Active</td>
                    <td>EL</td>
                    <td>4/27/2014 12:00:00 AM</td>
                  </tr>
                  <tr>
                    <td><a href="l.licenses.single.html">EL251</a></td>
                    <td class="highlight">Active</td>
                    <td>EL</td>
                    <td>4/27/2014 12:00:00 AM</td>
                  </tr>
                  <tr>
                    <td><a href="l.licenses.single.html">SPL/2015/0034</a></td>
                    <td class="highlight">Active</td>
                    <td>EL</td>
                    <td>4/27/2014 12:00:00 AM</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="card widget">
          <div class="card-body">
            <h3 class="widget-title"><img src="img/icon/bolt-red.svg" alt="" height="20" width="20"> <a href="l.obligations.html">Obligations</a></h3>
            <h4 class="sub-section-title">Outstanding obligations</h4>

            <ul class="text-actions-list light">
              <li><a href="l.applications.single.html#obligations" class="text-danger"><strong>Application payment fee pending</strong></a>                was due on 14/01/2015 for <a href="l.applications.single.html">application #23</a></li>
              <li><a href="l.licenses.single.html#reports" class="text-danger"><strong>Annual report documentation</strong></a>                was due on 14/01/2015 for <a href="l.licenses.single.html">EL442</a></li>
              <li><a href="l.applications.single.html#obligations" class="text-danger"><strong>Application payment fee pending</strong></a>                was due on 14/01/2015 for <a href="l.applications.single.html">application #23</a></li>
            </ul>
          </div>
        </div>

        <div class="card widget">
          <div class="card-body">
            <h3 class="widget-title"><img src="img/icon/bolt-orange.svg" alt="" height="20" width="20"> <a href="l.obligations.html">Obligations</a></h3>
            <h4 class="sub-section-title">Obligations coming up soon</h4>

            <ul class="text-actions-list light">
              <li><a href="l.applications.single.html#obligations" class="text-warning"><strong>Application payment fee pending</strong></a>                due on <a href="l.applications.single.html">application #23</a></li>
              <li><a href="l.licenses.single.html#reports" class="text-warning"><strong>Annual report documentation</strong></a>                due on <a href="l.licenses.single.html">EL442</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>